.css-13cymwt-control {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.css-t3ipsp-control:hover {
  border: none !important;
  box-shadow: none !important;
}

.css-t3ipsp-control {
  box-shadow: none !important;
  border: none !important;
}

.css-t3ipsp-control:focus {
  box-shadow: none !important;
  border: none !important;
}
